<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robert Graham-Hu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/customstyles.css" />

    <!-- Owl -->
    <link rel="stylesheet" href="/stylesheets/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owlcarousel/owl.theme.default.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">


    <!-- Animate css -->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <!-- Icon -->
    <link rel="icon" type="image/vnd.microsoft.icon"
     href="/images/R-G-H-logo.png" />
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript">

    </script>
  </head>



  <nav class="navbar is-light top is-transparent is-fixed-top">
    <div class="navbar-brand">
      <a onclick="scrollToSection('robert-graham-hu')" class="hvr-pop navbar-item nav-name" href="#">
        <!-- <img src="/images/robert-graham-hu-logo2-dark.png" alt="Robert Graham-Hu Logo" width="240" height="21"> -->

          <span class = "heavy"> Robert&nbsp;</span> <span class ="thin">Graham-Hu</span>

      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a onclick="scrollToSection('about-me')" class="hvr-pop navbar-item navbar-item-small" href="#">
          About Me
        </a>
        <a onclick="scrollToSection('projects')" class="hvr-pop navbar-item navbar-item-small" href="#">
          Projects
        </a>
        <a onclick="scrollToSection('experience')" class="hvr-pop navbar-item navbar-item-small" href="#">
          Experience
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a onclick="scrollToSection('contact')" class="button hvr-pop" href="#">
                <!-- <span class="icon">
                  <i class="fa fa-envelope"></i>
                </span> -->
                <span>
                  Contact
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-link  hvr-pop" target="_blank" href="/images/CV_Robert_Graham-Hu.pdf">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>CV</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <body class ="">

  <section id="robert-graham-hu" class="hero is-large is-bold has-bg-img">
    <div class="grey-layer">
      <div class="hero-body ">
        <div class="main-name has-text-centered ">
          <h1 class="animated zoomIn title is-1 is-spaced is-old">
            Robert Graham-Hu
          </h1>
          <h2 class="subtitle is-3">
            <i>Make it a game</i>
          </h2>
        </div>
      </div>
    </div>

  </section>


  <!-- About me -->
  <section id="about-me" class="hero is-medium is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About Me
        </h1>
        <h2 class="subtitle">
          <i>Systems Design Engineering at The University of Waterloo</i>
        </h2>
        <div class="has-text-centered">
          <img class =""src="/images/RobertPic(circle).png"  width="40%" height="40%">
        </div>

        <div class=" has-text-centered">
          <h1 class="title title-name">
            Robert Graham-Hu
          </h1>
        </div>

        <div class="content  has-text-centered small-content">
          <p>
            I'm a passionate student with broad range of interests and skills
            including, game development, coding, music, entrepreneurship, esports, leadership, and teaching.
          </p>
          <p>
            I love the experience of taking an idea from scratch and building it into something complete, seamless, and shareable.
          </p>

        </div>
      </div>
    </div>
  </section>

  <section id="projects" class="hero is-medium is-white is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects
        </h1>

        <h2 class="subtitle">
          <i>From Games and Music to Coding and Design</i>
        </h2>

        <div class="columns is-multiline ">

          <!-- Wecasual -->
          <div class="column is-4 is-offset-1 ">
            <a href="https://www.wecasual.gg" target="_blank">
              <div class="card projects notification is-light hvr-icon-pulse hvr-grow-shadow ">

                <div class="card-image">
                  <figure class="image is-3by2">
                    <img class = "image-padding" src="/images/wecasual-logo(500x350).png" alt="Wecasual logo">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Wecasual</p>
                    </div>
                  </div>

                  <div class="content">
                    An <b>esports platform</b> and
                    community used to schedule and organize games for casual
                    esports players.
                  </div>
                </div>
              </div>
            </a>

          </div>

            <div class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Modal title</p>
                  <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                  <!-- Content ... -->
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-success">Save changes</button>
                  <button class="button">Cancel</button>
                </footer>
              </div>
            </div>


          <!-- Rhythm Tapper -->
          <div class="column is-4 is-offset-2 ">

            <div onclick="rhythmTapperModal()"class="card projects notification is-dark hvr-icon-pulse hvr-grow-shadow ">

              <div class="card-image">
                <figure class="image is-3by2">
                  <img class = "image-padding" src="/images/RT-logo.png" alt="Wecasual logo">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 is-primary">Rhythm Tapper</p>
                  </div>
                </div>

                <div class="content">
                  An educational, mobile, <b>rhythm game</b> developped in <b>Unity</b>
                </div>
              </div>
            </div>
          </div>

          <!-- Design Projects -->
          <div class="column is-4 is-offset-1 ">

            <div onclick="designProjectsModal()" class="card projects notification is-dark hvr-icon-pulse hvr-grow-shadow ">

              <div class="card-image">
                <figure class="image is-3by2">
                  <img class = "image-padding" src="/images/design-projects-logo.png" alt="Wecasual logo">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 is-primary">Design Projects</p>
                  </div>
                </div>

                <div class="content">
                  Awesome and creative design projects created as a part of the Systems Design Engineering Program. Integrated software, hardware, and design principles into
                </div>
              </div>
            </div>
          </div>


          <!-- Music -->
          <div class="column is-4 is-offset-2">

            <a href="https://soundcloud.com/obreto" target="_blank">
              <div class="card projects notification is-light hvr-icon-pulse hvr-grow-shadow ">

                <div class="card-image">
                  <figure class="image is-3by2">
                    <img class = "image-padding" src="/images/obreto-logo.png" alt="Wecasual logo">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Obreto</p>
                    </div>
                  </div>

                  <div class="content">
                    Obreto is my musical and soundcloud alias.
                    In my free time I enjoy <b>playing and composing music.</b>
                    I create electonic music, piano music, and remixes to my favourite songs.
                    My songs are produced in <b>Reason.</b>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div>










      </div>
    </div>
  </section>

  <!-- Experience -->
  <section id="experience" class="hero is-medium is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Experience
        </h1>
        <div class="owl-carousel owl-theme columns">
          <div class="item column is-10 is-offset-1">
            <div class="columns card notification is-light">
              <div class="column is-6 is-offset-1">
                <p class="title is-4 is-light"><a href="https://www.wecasual.gg" target="_blank">Wecasual</a></p>
                <p class="subtitle is-light is-6"><i>Co-Founder and CEO</i> <i class ="is-pulled-right">Apr. 2017- Present</i> </p>
                <ul>
                  <li>Worked with co-founder to build an <b>esports platform </b>and
                      community used to schedule and organize games for casual
                      esports players that acquired <b>200 users</b> by December 2017.</li>
                  <li>Pitched at the Velocity 5K and the Velocity Problem Pitch twice
                      each, and <b><a href="https://uwaterloo.ca/conrad-business-entrepreneurship-technology/news/e-co-op-students-pitch-25000-ignition-week-pitch-competition" target="_blank">won the Eco-op ignition week pitch</a> </b>valued at $5000.
                  </li>
                  <li>Applied and refined skills in <b>HTML, CSS, and Javascript</b> to design a <b>responsive
                      front end</b> and UI for the Wecasual web platform.
                  </li>
                </ul>
              </div>
              <div class="column is-5">
                <a href="https://www.wecasual.gg" target="_blank"><img class = " has-text-centered carousel-image " src="/images/wecasual-logo(500x350).png" alt="Wecasual logo" ></a>
              </div>

            </div>

          </div>
          <div class="item column is-10 is-offset-1">
            <div class="columns card notification is-light">
              <div class="column is-6 is-offset-1">
                <p class="title is-4 is-light"><a href="https://www.stemlearninglab.com" target="_blank">STEM Learning Lab</a></p>
                <p class="subtitle is-light is-6"><i>Learning and Technology Integrator</i> <i class ="is-pulled-right">Jan. 2017- Apr. 2017</i> </p>
                <ul>
                  <li>Instructed numerous STEM classes for students and teachers
                      to <b>integrate robotics and coding</b> into the classroom setting.
                  </li>
                  <li><b>Collaborated and communicated</b> with company partners on
                      curriculum projects
                  </li>
                  <li>Developed creative and <b>unique robotics and coding curriculum</b>
                      for education tools like RaspberryPi, and Lego Mindstorms.
                  </li>
                </ul>
              </div>
              <div class="column is-5">
                <a href="http://www.stemlearninglab.com" target="_blank"><img class = " has-text-centered carousel-image " src="/images/sll-logo.png" alt="Wecasual logo" ></a>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Contact -->
  <section id="contact" class="hero is-small is-link is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          Contact
        </h1>
        <hr>

        <form class="" action="send" method="POST">
          <div class="columns is-multiline">

            <!-- Your name -->
            <div class="field column is-half">
              <div class="control">
                <input class="input" type="text" name = "name" placeholder="Your Name">
              </div>
            </div>

            <!-- Email -->
            <div class="field column is-half">
              <div class="control has-icons-left has-icons-right">
                <input class="input " type="email" name= "email" placeholder="Your Email" value="">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              <!-- <p class="help is-danger">This email is invalid</p> -->
            </div>

            <!-- Message -->
            <div class="column">
              <div class="field">
                <div class="control">
                  <textarea name = "message" class="textarea" placeholder="Your message"></textarea>
                </div>
              </div>
              <!-- Submit button -->
              <div class="field is-grouped">
                <div class="control">
                  <button type = "submit" class="button is-light">Submit</button>
                </div>
              </div>
            </div>

          </div>
        </form>

        <hr>
      </div>
    </div>
  </section>

  <!-- Modals -->


  <!-- Email confirm modal -->
  <div class="modal <%= msg %>">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head modal-card-foot">
        <p class="modal-card-title">Message Delivered</p>
        <!-- <button class="delete" aria-label="close"></button> -->
        <button onclick = "closeModal()" class="button is-success">Okay</button>
      </header>
      <!-- <section class="modal-card-body">

      </section> -->
      <!-- <footer class="modal-card-foot">

      </footer> -->
    </div>
  </div>


  <!-- Design projects modal -->
  <div class="animated fadeIn design-projects-modal modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Design Projects</p>
        <button onclick = "closeModal()" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <h1 class="is-light title">Bockin' Knox</h1>
        <p>An Arduino controlled safe that is opened using a knock pattern.</p>
        <img src="/images/bockin-knox-1.jpg" alt="">
        <p></p>
        <ul>
          Bockin' Knox integrates...
          <li>Timers, a piezoelectric sensor, and an ultrasonic sensor</li>
          <li>A servo to lock the door</li>
          <li>Soldered LED matrix</li>
          <li>All controlled by an Arduino Uno!</li>
        </ul>
        <h1 class="is-light title">Twistn'Lift</h1>
        <p>A mechanical seat assistant design for older adults.</p>
        <img src="/images/Twistn'Lift-1.png" alt="">
        <ul>
          <li>Completely custom built</li>
          <li>Mechanical gas spring system to provide upwards force</li>
          <li>A rotational system that allows for free turning while sitting</li>
          <li>Built using the QFD design methodology</li>
        </ul>
        <img src="images/Twistn'Lift-QFD.png" alt="">
      </section>


      <footer class="modal-card-foot">
        <button onclick = "closeModal()" class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  <!-- Rhythm Tapper Modal -->
  <div class="animated fadeIn rhythm-tapper-modal modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Rhythm Tapper</p>
        <button onclick = "closeModal()" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <h1 class="is-light title">An Android rhythm game developped in Unity.</h1>
        <h2> <i>Currently in development</i> </h2>
        <img src="/images/rhythm-tapper-alpha.png" alt="">
        <p class = "has-text-centered"> <i>Alpha screenshot</i> </p>
        <ul>
          Rhythm Tapper features...
          <li>Real musical rhythms</li>
          <li>Sharpen your rhythm reading AND playing skills</li>
          <li>Challenge yourself with multi-rhythm mode</li>
        </ul>

      </section>


      <footer class="modal-card-foot">
        <button onclick = "closeModal()" class="button is-success">Close</button>
      </footer>
    </div>
  </div>

  </body>


<!-- Footer -->
<footer>

  <!-- Change transparent of navbar -->
  <script src="/scripts/main.js"></script>

  <!-- Mobile burger code (From bulma) -->
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

    });
  </script>

  <!-- Owl javascript -->
  <script src="/scripts/owlcarousel/owl.carousel.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
    // $(".owl-carousel").owlCarousel();
    var owl = $('.owl-carousel');
    owl.owlCarousel({
                    margin: 10,
                    nav: false,
                    loop: true,
                    singleItem: true,
                    responsive: {
                      0: {
                        items: 1
                      },
                      600: {
                        items: 1
                      },
                      1000: {
                        items: 1
                      }
                    }
                  })
    });
  </script>

</footer>

</html>
