body{
  font-family: 'Open Sans', sans-serif;
}

.navbar{

  /* background: rgba(25, 25, 25, 1)!important; */
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  font-family: 'Raleway', sans-serif;
}


.navbar-item{
  /* padding-left: 100%; */
  /* padding-right: 100%; */
}

.navbar-start{
  padding-top: 5px;
}

.nav-name{
  font-family: 'Raleway', sans-serif;
  color:white;
  font-size: 25px;

}

.has-text-weight-light{
  font-weight: 100;
}
.main-name{
  background: rgba(0, 0, 0, 0.42);
  padding: 0px;
}

.has-bg-img {
  background: url('/images/jumbotron-big.jpg')center center;
  background-size:cover;


}


@media screen and (min-width: 770px){
  .navbar.scrolled {
        background: rgba(85, 85, 85, 0);

  }
  .scrolled.navbar-item{
    color: white !important;
  }

}

@media screen and (max-width: 769px){



  .has-bg-img{

    background: url('/images/jumbotron-small.jpg')center center;
    background-size:cover;
    margin-top: 53px !important;
  }
  .hero{
    padding: 0px;
  }
  .grey-layer .hero-body{
    padding-bottom: 12rem;
    padding-top: 12rem;
  }
}



.grey-layer {
    background-color: rgba(0, 0, 0, 0.6);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grey-layer .hero-body{
  padding-left: 0px;
  padding-right: 0px;
}

.title{
  color: white;

}

.subtitle{
  color: white;
}

.mini-hr{

  max-width: 250px;
}


.small-content{
  padding-top: 2rem;
  /* padding-left: 18rem; */
  /* padding-right: 18rem; */
}

.thin{
  font-weight: 100;
}

.heavy{
  font-weight: 600;
}
