<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robert Graham-Hu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/customstyles.css" />


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
  </head>



  <nav class="navbar is-link scrolled is-transparent is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="/images/robert-graham-hu-logo2.png" alt="Robert Graham-Hu Logo" width="240" height="21">

      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://bulma.io/">
          About Me
        </a>
        <a class="navbar-item" href="https://bulma.io/">
          Projects
        </a>
        <a class="navbar-item" href="https://bulma.io/">
          Experience
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button" href="">
                <span class="icon">
                  <i class="fa fa-envelope"></i>
                </span>
                <span>
                  Contact
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-link" target="_blank" href="/images/CV_Robert_Graham-Hu.pdf">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>CV</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <body>

  <section class="hero is-large is-bold  has-bg-img">
    <div class="hero-body main-name grey-layer">
      <div class="main-name  has-text-centered ">
        <h1 class="title is-1 is-spaced is-old">
          Robert Graham-Hu
        </h1>
        <h2 class="subtitle is-3">
          <i>It's in the game</i>
        </h2>
      </div>
    </div>
  </section>



  <section class="hero is-small is-link is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About Me
        </h1>
        <h2 class="subtitle">
          <i></i>
        </h2>
        <div class="has-text-centered">
          <img src="/images/RobertPic(circle).png"  width="30%" height="30%">
        </div>


      </div>
    </div>
  </section>

  <section class="hero is-medium is-white is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Yeah, that's right...
        </h1>
        <h2 class="subtitle">
          <i>these are the thighs of a warrant officer</i>
        </h2>
      </div>
    </div>
  </section>




<script src="/scripts/text-scroll.js"></script>
  </body>
</html>
