<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robert Graham-Hu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/customstyles.css" />


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400" rel="stylesheet">


    <!-- Icon -->
    <link rel="icon" type="image/vnd.microsoft.icon"
     href="/images/R-G-H-logo.png" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
  </head>



  <nav class="navbar is-light scrolled is-transparent is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item nav-name" href="">
        <!-- <img src="/images/robert-graham-hu-logo2-dark.png" alt="Robert Graham-Hu Logo" width="240" height="21"> -->

          <span class = "heavy"> Robert&nbsp;</span> <span class ="thin">Graham-Hu</span>

      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#">
          About Me
        </a>
        <a class="navbar-item" href="#">
          Projects
        </a>
        <a class="navbar-item" href="#">
          Experience
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button" href="">
                <!-- <span class="icon">
                  <i class="fa fa-envelope"></i>
                </span> -->
                <span>
                  Contact
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-link" target="_blank" href="/images/CV_Robert_Graham-Hu.pdf">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>CV</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <body>

  <section class="hero is-large is-bold has-bg-img">
    <div class="grey-layer">
      <div class="hero-body ">
        <div class="main-name has-text-centered ">
          <h1 class="title is-1 is-spaced is-old">
            Robert Graham-Hu
          </h1>
          <h2 class="subtitle is-3">
            <i></i>
          </h2>
        </div>
      </div>
    </div>

  </section>



  <section class="hero is-small is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About Me
        </h1>
        <h2 class="subtitle">
          <i>Systems Design Engineering at The University of Waterloo</i>
        </h2>
        <div class="has-text-centered">
          <img src="/images/RobertPic(circle).png"  width="40%" height="40%">
        </div>

        <div class=" has-text-centered">
          <h1 class="title">
            Robert Graham-Hu
          </h1>
        </div>

        <div class="content  has-text-centered small-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-medium is-white is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects
        </h1>

        <h2 class="subtitle">
          <i>From Games and Music to Coding and Design</i>
        </h2>
      </div>
    </div>
  </section>


  <section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Experience
        </h1>


      </div>
    </div>
  </section>

  <section class="hero is-small is-link is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          Contact
        </h1>
        <hr>

        <div class="columns">
          <div class="field column is-half">
            <!-- <label class="label">Name</label> -->
            <div class="control">
              <input class="input" type="text" placeholder="Your Name">
            </div>
          </div>

          <div class="field column is-half">
            <!-- <label class="label">Email</label> -->
            <div class="control has-icons-left has-icons-right">
              <input class="input is-danger" type="email" placeholder="Your Email" value="">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
            <p class="help is-danger">This email is invalid</p>
          </div>

          <!-- <div class="field">
            <label class="label">Subject</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="column is-11">
            <div class="field">
              <!-- <label class="label is">Message</label> -->
              <div class="control">
                <textarea class="textarea" placeholder="Your message"></textarea>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-light">Submit</button>
              </div>
            </div>
          </div>

        </div>




      </div>
    </div>
  </section>

  <script src="/scripts/text-scroll.js"></script>

  <!-- Mobile burger code (From bulma) -->
  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

    });
  </script>
  </body>


</html>
